@{
    ViewBag.Title = "Home Page";
}
@using MongoDBApp.Models;
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
        </div>
    </section>
}

<table>
    <tr>
        <td>User Name</td>
        <td>Age</td>
    </tr>
    @if (ViewBag.Users != null)
    {
        foreach (User user in ViewBag.Users)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Age
                </td>
            </tr>
        }
    }
</table>
<div>
</div>

